@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
    --grey: #e0e0e0;
    --blue: #3498db;
}


* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* Progress Section */

.container {
    text-align: center;
}
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    min-width: 100%;
    width: 350px;
}

/* Lines */

.progress-container::before {
    content: '';
    background-color: var(--grey);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress {
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

/* Circles */

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--grey);
    transition: 0.4s ease;
}
.circle.active {
    border-color: var(--blue);
}

/* Buttons */

.btn {
    background-color: var(--blue);
    color: #fff;
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: inherit;
    padding: 0.8rem 2rem;
    margin: 5px;
    font-size: 1rem;
}
.btn:active {
    transform: scale(0.98);
}
.btn:focus {
    outline: 0;
}
.btn:disabled {
    background-color: var(--grey);
    color: var(--blue);
    cursor: not-allowed;
}